<body class='body'>
  <h1>Welcome to <b id='roomId'><%= roomId%></b> room</h1>
  <div>我的名字：<span id='name' class='name'><%= userName%></span></div>
  <div id='chat-area' class='chatArea'>
    <div id='messages' class='messages'></div>
  </div>
  <input type="text" id='inputMessage' class='inputMessage' placeholder='輸入完請按Enter鍵發送'/>
</body>
