<head>
  <base href='/' />
  <title>Index</title>
  <meta charset='utf-8'>
  <link type='iamge/x-icon' rel='shortcut icon' href='img/sys_mynetwork.ico'/>
  <link type='text/css' rel='stylesheet' href='css/app.css' />
  <script src='js/global.js'></script>
</head>
