<p class='p1'>javascript example</p>
<label class='label'>Login : </label>
<input id='loginText' type='text' onKeypress='keyDown(event)' class='text'>
<button class='button' onClick='loginButton()'>Press</button>
<p id='p1'></p>
<p id='p2'></p>
<input type='button' value='CreateExample' onclick='createTextField();'/>:
<div id='createHere'></div>
